modules = ["deno"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Deno Book API Server"

[[workflows.workflow]]
name = "Deno Book API Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/home/runner/.deno/bin/deno run --allow-net --allow-env app.ts"
waitForPort = 8000

[deployment]
run = ["sh", "-c", "deno run --allow-net --allow-env app.ts"]

[[ports]]
localPort = 8000
externalPort = 80
